apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
spec:
  project: default
  sources:
  - repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus-community
    targetRevision: 28.6.0
    helm:
      valueFiles:
        - $values/helm-values/prometheus-stack-values.yaml
  - repoURL: https://github.com/tobiasfuhge/data-engineering-project.git
    targetRevision: main
    ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus-stack

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
