airflow:
  config:
    AIRFLOW__CORE__EXECUTOR: "KubernetesExecutor"
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"

  service:
    type: ClusterIP
    port: 8080

  ingress:
  enabled: true
  ingressClassName: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod

  hosts:
    - host: "airflow.group-jofz.dski23a.timebertt.dev"
      paths:
        - path: /
          pathType: ImplementationSpecific

  tls:
    - secretName: "argoworkflows-tls"
      hosts:
        - "airflow.group-jofz.dski23a.timebertt.dev"
