postgresql:
  enabled: false

data:
  metadataConnection:
    user: mlops
    pass: qwklfqkwjd
    protocol: postgresql
    host: postgres.data-storage.svc.cluster.local
    port: 5432
    db: ds_db

createUserJob:
  useHelmHooks: false
  applyCustomEnv: false
migrateDatabaseJob:
  useHelmHooks: false
  applyCustomEnv: false