ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - airflow.group-jofz.dski23a.timebertt.dev
  tls:
    - hosts:
        - airflow.group-jofz.dski23a.timebertt.dev
      secretName: airflow-tls