defaultAirflowRepository: apache/airflow
defaultAirflowTag: "3.1.6"
airflowVersion: "3.1.6"

executor: "LocalExecutor"

postgresql:
  enabled: false

data:
  metadataSecretName: airflow-db-secret

redis:
  enabled: false

statsd:
  enabled: false

ingress:
  enabled: true
  apiServer:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - name: airflow.group-jofz.dski23a.timebertt.dev
        tls:
          enabled: true
          secretName: airflow-tls
    path: "/"
    pathType: "ImplementationSpecific"

createUserJob:
  command:
    - bash
    - -ceu
    - |
      exec airflow {{ semverCompare ">=2.0.0" .Values.airflowVersion | ternary "users create" "create_user" }}
      -r "${AIRFLOW_ADMIN_ROLE:-Admin}"
      -u "${AIRFLOW_ADMIN_USERNAME:-admin}"
      -e "${AIRFLOW_ADMIN_EMAIL:-admin@example.com}"
      -f "${AIRFLOW_ADMIN_FIRSTNAME:-admin}"
      -l "${AIRFLOW_ADMIN_LASTNAME:-user}"
      -p "${AIRFLOW_ADMIN_PASSWORD}"
  args: []

  env:
    - name: AIRFLOW_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: airflow-admin-password
          key: password
    - name: AIRFLOW_ADMIN_ROLE
      value: Admin
    - name: AIRFLOW_ADMIN_USERNAME
      value: admin
    - name: AIRFLOW_ADMIN_EMAIL
      value: admin@example.com
    - name: AIRFLOW_ADMIN_FIRSTNAME
      value: admin
    - name: AIRFLOW_ADMIN_LASTNAME
      value: user
  useHelmHooks: false
  applyCustomEnv: false

migrateDatabaseJob:
  useHelmHooks: false
  applyCustomEnv: false

config:
  core:
    load_examples: "True"

workers:
  persistence:
    enabled: false

triggerer:
  persistence:
    enabled: false