defaultAirflowRepository: apache/airflow
defaultAirflowTag: "3.1.6"
airflowVersion: "3.1.6"

executor: "LocalExecutor"

postgresql:
  enabled: false

data:
  metadataConnection:
    user: mlops
    pass: qwklfqkwjd
    protocol: postgresql
    host: postgres.data-storage.svc.cluster.local
    port: 5432
    db: ds_db
    sslmode: disable

redis:
  enabled: false

statsd:
  enabled: false

enableBuiltInSecretEnvVars:
  AIRFLOW__CORE__FERNET_KEY: false
  AIRFLOW__WEBSERVER__SECRET_KEY: false
  AIRFLOW__API__SECRET_KEY: false
  AIRFLOW__API_AUTH__JWT_SECRET: false
  AIRFLOW__CELERY__CELERY_RESULT_BACKEND: false
  AIRFLOW__CELERY__RESULT_BACKEND: false
  AIRFLOW__CELERY__BROKER_URL: false

env:
  - name: AIRFLOW__CORE__FERNET_KEY
    value: WW3Sj9-DRlmtlTzXjx5ADbaYQvlZb6QDuwJXpVTEqE8=
  - name: AIRFLOW__WEBSERVER__SECRET_KEY
    value: 4jpKilYpB2idG8U8zZ38WhCUI8MB+QH/PjbsHsoSm8uyencWHi0lotKsuLYgs1ML
  - name: AIRFLOW__API__SECRET_KEY
    value: 4jpKilYpB2idG8U8zZ38WhCUI8MB+QH/PjbsHsoSm8uyencWHi0lotKsuLYgs1ML
  - name: AIRFLOW__API_AUTH__JWT_SECRET
    value: 4jpKilYpB2idG8U8zZ38WhCUI8MB+QH/PjbsHsoSm8uyencWHi0lotKsuLYgs1ML

webserver:
  enabled: true
  service:
    type: ClusterIP

ingress:
  web:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    ingressClassName: nginx
    path: /
    pathType: ImplementationSpecific
    hosts:
      - name: airflow.group-jofz.dski23a.timebertt.dev
        tls:
          enabled: true
          secretName: airflow-tls

createUserJob:
  useHelmHooks: false
  applyCustomEnv: false

migrateDatabaseJob:
  useHelmHooks: false
  applyCustomEnv: false

config:
  core:
    load_examples: 'True'

workers:
  persistence:
    enabled: false

triggerer:
  persistence:
    enabled: false