defaultAirflowRepository: apache/airflow
defaultAirflowTag: "3.1.6"
airflowVersion: "3.1.6"

executor: "LocalExecutor"

postgresql:
  enabled: false

data:
  metadataSecretName: airflow-db-secret

redis:
  enabled: false

statsd:
  enabled: false

ingress:
  enabled: true
  apiServer:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - name: airflow.group-jofz.dski23a.timebertt.dev
        tls:
          enabled: true
          secretName: airflow-tls
    path: "/"
    pathType: "ImplementationSpecific"

createUserJob:
  args:
    - "bash"
    - "-c"
    # The format below is necessary to get `helm lint` happy
    - |-
      exec \
      airflow {{ semverCompare ">=2.0.0" .Values.airflowVersion | ternary "users create" "create_user" }} "$@" -p "${AIRFLOW_ADMIN_PASSWORD}"
    - --
    - "-r"
    - "{{ .Values.createUserJob.defaultUser.role }}"
    - "-u"
    - "{{ .Values.createUserJob.defaultUser.username }}"
    - "-e"
    - "{{ .Values.createUserJob.defaultUser.email }}"
    - "-f"
    - "{{ .Values.createUserJob.defaultUser.firstName }}"
    - "-l"
    - "{{ .Values.createUserJob.defaultUser.lastName }}"
  env:
  - name: AIRFLOW_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: airflow-admin-password
        key: password
  useHelmHooks: false
  applyCustomEnv: false

migrateDatabaseJob:
  useHelmHooks: false
  applyCustomEnv: false

config:
  core:
    load_examples: "True"

workers:
  persistence:
    enabled: false

triggerer:
  persistence:
    enabled: false