controller:
  replicas: 1

  workflowNamespaces:
    - argo-workflows

  metricsConfig:
    enabled: true

  securityContext:
    runAsNonRoot: true
    runAsUser: 1000

server:
  authMode: server
  secure: false
  enabled: true

  service:
    type: ClusterIP
    port: 2746

  ingress:
    enabled: true
    annotations: 
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/backend-protocol: "HTTP"
      kubernetes.io/use-forwarded-headers: "true"
      kubernetes.io/proxy-read-timeout: "3600"
      kubernetes.io/proxy-send-timeout: "3600"
      kubernetes.io/ssl-redirect: "true"

    ingressClassName: "nginx"

    hosts:
      - argoworkflows.group-jofz.dski23a.timebertt.dev

    tls: 
      - secretName: argoworkflows-tls
        hosts:
          - argoworkflows.group-jofz.dski23a.timebertt.dev
artifactRepository:
  s3:
    endpoint: minio.data-storage.svc.cluster.local:9000
    bucket: argo-artifacts
    insecure: true
    accessKeySecret:
      name: minio
      key: root-user
    secretKeySecret:
      name: minio
      key: root-password
workflow:
  serviceAccount:
    create: true
    name: argo-workflow
rbac:
  create: true
podGC:
  enabled: true
  strategy: OnWorkflowCompletion