# JupyterHub Helm values for a single-user JupyterLab setup

hub:
  db:
    type: sqlite-pvc
  config:
    JupyterHub:
      authenticator_class: "dummy"

  extraConfig:
    auth-settings: |
      import os
      
      # Passwort setzen
      password = os.environ.get("DUMMY_PASSWORD")
      if password:
          c.DummyAuthenticator.password = password
      
      # Usernamen restriktieren (nur dieser eine User darf rein)
      username = os.environ.get("DUMMY_USERNAME")
      if username:
          # Wir fügen den User der Liste der erlaubten Personen hinzu
          c.Authenticator.allowed_users = {username}
          # Optional: Den User auch gleich zum Admin machen
          c.Authenticator.admin_users = {username}
  
  extraEnv:
    DUMMY_USERNAME:
      valueFrom:
        secretKeyRef:
          name: jupyterlabs-admin
          key: username
    DUMMY_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: jupyterlabs-admin
          key: password

# change to NodePort, if not using ingress or port-forwarding
proxy:
  service:
    type: ClusterIP

singleuser:
  image:
    name: ghcr.io/tobiasfuhge/jupyter-lab
    tag: "1.0"

  # Storage configuration must match chart schema
  storage:
    type: dynamic
    dynamic:
      # Only the storageClass key here — no size under dynamic
      storageClass: local-path

  # CPU / memory shape
  cpu:
    guarantee: 0.5
    limit: 1

  memory:
    guarantee: 512M
    limit: 1G

    

  extraEnv:
  # --- MLflow / S3 (MinIO) ---
    AWS_ACCESS_KEY_ID:
      valueFrom:
        secretKeyRef:
          name: minio
          key: root-user

    AWS_SECRET_ACCESS_KEY:
      valueFrom:
        secretKeyRef:
          name: minio
          key: root-password
    
    GIT_USERNAME:
      valueFrom:
        secretKeyRef:
          name: github-git-credentials
          key: GIT_USERNAME

    GIT_TOKEN:
      valueFrom:
        secretKeyRef:
          name: github-git-credentials
          key: GIT_TOKEN

    MLFLOW_S3_ENDPOINT_URL: "http://minio.data-storage.svc.cluster.local:9000"

    MLFLOW_TRACKING_URI: "http://mlflow.mlops.svc.cluster.local:5000"

    AWS_DEFAULT_REGION: "us-east-1"

    # --- Postgres ---
    POSTGRES_HOST: "postgres.data-storage.svc.cluster.local"
    POSTGRES_PORT: "5432"
    POSTGRES_DB: "ds_db"

    POSTGRES_USER:
      valueFrom:
        secretKeyRef:
          name: postgres-admin
          key: postgres-user

    POSTGRES_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: postgres-admin
          key: postgres-password

ingress:
  enabled: true
  annotations: 
    cert-manager.io/cluster-issuer: letsencrypt-prod
  ingressClassName: nginx
  hosts: 
    - jupyterlab.group-jofz.dski23a.timebertt.dev
  tls: 
    - hosts:
        - jupyterlab.group-jofz.dski23a.timebertt.dev
      secretName: jupyterlab-tls

  