global:
  security:
    allowInsecureImages: true
image:
  registry: ghcr.io
  repository: tobiasfuhge/spark-custom
  tag: "1.0"
  pullPolicy: IfNotPresent

master:
  enabled: true
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  
  podSecurityContext:
    fsGroup: 1001
  containerSecurityContext:
    runAsUser: 1001
    runAsNonRoot: true

worker:
  enabled: true
  replicaCount: 3
  resources:
    requests:
      cpu: 1000m
      memory: 2Gi
    limits:
      cpu: 2000m
      memory: 4Gi
  
  podSecurityContext:
    fsGroup: 1001
  containerSecurityContext:
    runAsUser: 1001
    runAsNonRoot: true

service:
  type: ClusterIP
  ports:
    master: 7077
    rest: 6066
    web: 8080

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: prometheus-stack
    interval: 30s
    labels:
      release: prometheus-stack

serviceAccount:
  create: true