image:
  repository: bitnami/spark
  tag: 3.5.0
  pullPolicy: IfNotPresent

master:
  enabled: true
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  
  podSecurityContext:
    fsGroup: 1001
  containerSecurityContext:
    runAsUser: 1001
    runAsNonRoot: true

worker:
  enabled: true
  replicaCount: 3
  resources:
    requests:
      cpu: 1000m
      memory: 2Gi
    limits:
      cpu: 2000m
      memory: 4Gi
  
  podSecurityContext:
    fsGroup: 1001
  containerSecurityContext:
    runAsUser: 1001
    runAsNonRoot: true

service:
  type: ClusterIP
  ports:
    cluster: 7077
    rest: 6066

serviceAccount:
  create: true


metrics:
  enabled: false 