## Globaler Image-Block: Stabil & Erreichbar

global:
  security:
    allowInsecureImages: true
image:
  registry: docker.io
  repository: bitnamilegacy/spark
  tag: 4.0.0-debian-12-r20
  pullPolicy: IfNotPresent

## Master Konfiguration
master:
  enabled: true
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1000m
      memory: 2Gi
  
  podSecurityContext:
    fsGroup: 1001
  containerSecurityContext:
    runAsUser: 1001
    runAsNonRoot: true

## Worker Konfiguration (3 Replikate für ordentlich Power)
worker:
  enabled: true
  replicaCount: 3
  resources:
    requests:
      cpu: 1000m
      memory: 2Gi
    limits:
      cpu: 2000m
      memory: 4Gi
  
  podSecurityContext:
    fsGroup: 1001
  containerSecurityContext:
    runAsUser: 1001
    runAsNonRoot: true

## Service-Einstellungen für interne Kommunikation & UI
service:
  type: ClusterIP
  ports:
    master: 7077
    rest: 6066
    web: 8080

## Prometheus Monitoring Integration (Cross-Namespace)
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    # Hier wird das Objekt im Namespace des Prometheus-Stacks erstellt,
    # damit der Operator es sofort findet.
    namespace: prometheus-stack
    interval: 30s
    # Das Label 'release' ist der Standard-Selector des Prometheus-Stacks
    labels:
      release: prometheus-stack

## RBAC & ServiceAccount (Pflicht für Spark auf K8s)
serviceAccount:
  create: true